// nav template

<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Nav Example</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id="home" class="nav-link" href="/">home</a>
            <a id="new-entry" class="link" href="/new-entry">new entry</a>
        </nav>
    </div>
</header>