// form style page

<% include ('header') %>

<h2> fill a new entry form</h2>

<form method="post" role="form">
    <div class = "form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Entry Title" required>
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" name="body" id="body" placeholder="express is a tool of building server-side" required></textarea>
    </div>

    <div class="form-control">
        <input type="submit" value="post entry information" class="btn btn-primary">
    </div>
</form>

<% include ('footer') %>